* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgba(40, 45, 53, 1);
}

nav {
    background-color: rgba(33, 34, 42, 1);
    display: flex;
    padding: 30px 25px;
    align-items: center;
    height: 90px;

}

.nav--icon {
    height: 30px;
    padding-right: 15px;
}

.nav--logo_text {
    color: rgba(0, 216, 255, 1);
    font-size: 22.25px;
    font-weight: 700;
    
}

.nav--title{
    color: rgba(222, 235, 248, 1);
    margin-left: auto;
    font-size: 16px;
}

h1 {
    margin: 0;
}

main {
    
    margin: 0;
    padding: 0;
    background-image: url(./images/reactjs-icon.png);
    background-repeat: no-repeat;
    background-position: 100%;
}

.main--title {
    color: rgba(255, 255, 255, 1);
    padding: 30px 0 0 40px;
    font-size: 40px;
    letter-spacing: -.05em;
    margin: 0;
    font-weight: bold;
}

.main--facts {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    margin-top: 46px;
    padding-left: 75px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    color:rgba(0, 216, 255, 1);
    font-size: 1.4rem;
}